<!DOCTYPE html>
<html lang="zh-en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
	<title>客户服务</title>
	<link rel="stylesheet" href="./css/weui.min.css">
	<link rel="stylesheet" href="./css/index.css">
	<script src="./js/vue.global.prod.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./js/axiosConfig.js"></script>

	<!-- 测试使用 -->
	<script src="./js/mock.js"></script>
</head>

<body class="safe-area">

	<div id="app">

		<header class="banner">
			<div class="swiper">
				<img src="./images/banner.png" alt="">
			</div>
		</header>
		<main>
			<img id="mascot" class="mascot" src="./images/mascot.gif" alt="">
			<div class="tab-wrap">
				<div class="tab-nav">
					<div class="tab-list">
						<div class="tab " v-for="(item,index) in nav" :key="item.faqId"
							:class="{active:navActive===index}" @click="setNavActive(index,$event)">
							<span>{{item.manageCodeName}}</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="weui-cells" v-if="contentList.length">
					<a class="weui-cell  weui-cell_access " :href="`/details.html?code=${item.manageCode}`"
						class="flex item " v-for="(item) in contentList" :key="item.manageCode">
						<div class="weui-cell__bd">
							<p><b>{{item.manageCodeName}}</b></p>
						</div>
						<div class="weui-cell__ft"></div>
					</a>
				</div>
				<div class="empty" v-else>
					<div class="empty-image">
						<img src="./images/custom-empty-image.png">
					</div>
				</div>
			</div>
		</main>
		<!-- toast-loading -->
		<transition name="fade">
			<div id="loadingToast" v-show="loading">
				<div class="weui-mask_transparent"></div>
				<div class="weui-toast">
					<span class="weui-primary-loading weui-icon_toast">
						<span class="weui-primary-loading__dot"></span>
					</span>
					<p class="weui-toast__content">加载中</p>
				</div>
			</div>
		</transition>
		<!-- toast-error -->
		<transition name="fade">
			<div v-show="errorToastOpts.show" class="weui-toptips weui-toptips_warn" id="topTips"
				style="display: block">
				{{errorToastOpts.msg}}
			</div>
		</transition>
	</div>

	<script>

		window.onload = function () {
			const mascot = document.getElementById('mascot')
			function setPng () {
				mascot.src = "./images/mascot.png"
				setTimeout(() => {
					setGif()
				}, 5000);
			}
			function setGif () {
				mascot.src = "./images/mascot.gif"
				setTimeout(() => {
					setPng()
				}, 3500);
			}
			setTimeout(() => {
				setPng()
			}, 3500);
		}


		const { createApp, ref } = Vue
		createApp({
			data () {
				return {
					nav,
					navActive: 0,
					contentList: [],
					loading: false,
					errorToastOpts: {
						show: false,
						msg: null
					},
				}
			},
			watch: {
				navActive: {
					handler (newVal) {
						const faqId = this.nav[this.navActive].faqId
						this.loading = true
						queryFAQListByTypes({ sortlist: [faqId] }).then(data => {
							this.loading = false

							this.contentList = data
						}).catch(msg => {
							this.loading = false
							this.showErrorToast(msg)

						}).finally(() => {
							this.contentList = sortList
						})
					},
				}
			},

			created () {
				queryFaqManageList({ "size": 99, "page": 1, "titleName": "", "faqSortId": "" }).then((res) => {
					console.log('res', res);
				}).catch(msg => {
					this.showErrorToast(msg)
				})
			},
			methods: {
				setNavActive (index, e) {
					this.navActive = index
					this.scrollIntoView(e.currentTarget)
				},
				showErrorToast (msg, duration = 800) {
					this.errorToastOpts.show = true;
					this.errorToastOpts.msg = msg
					setTimeout(() => {
						this.errorToastOpts.show = false;
					}, duration);
				},
				scrollIntoView (el) {
					const elLeft = el.offsetLeft;
					const centerX = el.parentElement.offsetWidth / 2
					const x = elLeft - centerX + el.offsetWidth / 2
					el.parentElement.scrollLeft = x
				}
			},
		}).mount('#app')

	</script>
</body>

</html>